{% extends "base.html" %}

{% block content %}                          

    <hr />
        <ul>
            {% for post in blogs %}
            <li>
                <a href="/blog?id={{blog.id}}">{{blog.title}}</a>
            </li>
            <li>
                Written by: <a href="/blog?user={{blog.owner_id}}">{{blog.owner}}</a>
            </li>
                <p>
                    {% blog.body %}
                </p>
            </li>
            {% endfor %}
        </ul>

    <hr />

{% endblock %}